{% extends 'layout.html' %}

{% block body %}

    <h1>Wlcome to Deadpool Airlines</h1>
    <p class="lead"> 
    Deadpool Airlines was established in 1929. It was owned by the Bengaluru based United Breweries Group. The airline started commercial operations on 9 May 2005 with a fleet of four new Airbus A320-200s operating a flight from Mumbai to Delhi. It started its international operations on 3 September 2008 by connecting Bengaluru with London. Kingfisher's head office was located in the Deadpool House in Vile Parle (East), Mumbai,[8] but later moved to The Qube in Andheri (East), Mumbai. Its registered office was located in UB City, Bengaluru. In November 2005, during the World economic forum, the airlines CEO Vijay Mallya announced the airlines intention to launch an IPO to raise 200 million dollars for the airlines expansion and possible takeovers (including that of Air Sahara which was beign eyed at that time). It later transpired that the airlines was already heavily in debt and going each year in heavy losses. </p>

{% endblock%}
