{%extends 'layout.html'%}

{%block body%}
<h1>Welcome to Your Dashboard:  {{session.username}}</h1>
<a class="btn btn-success" href="/flights">Add Flight</a>
<hr>
<h2>List of All Your Booking:</h2>
<div class="table-responsive" id="flights">
<table class="table">
    <tr>
        <th>ID</th>
        <th>Flight Number</th>
        <th>From</th>
        <th>Destination</th>
        <th>Class</th>
        <th>Time of Flight</th>

    </tr>
    {%for booking in bookings%}
    <tr>
        <td>{{booking.bookingid}}</td>
        <td>{{booking.flightnum}}</td>
        <td>{{booking.source}}</td>
        <td>{{booking.destination}}</td>
        <td>{{booking.class}}</td>
        <td>{{booking.timeofflight}}</td>
       
        <td>  <a href="seatselect/{{booking.bookingid}}"class="btn btn-default pull-right">Select-Seat</a>
        </td>
     </tr>
    {%endfor%}
</table>
</div>
{% endblock%}